<div class="container__provas">
  <div *ngIf="provasFiltradas.length === 0">
    <p>Nenhuma prova encontrada.</p>
  </div>

  <div *ngIf="provasFiltradas.length > 0">
    <p>Provas carregadas:</p>
    <div class="prova-list">
      <div
        *ngFor="let prova of provasFiltradas"
        class="prova-card"
        (click)="exibirDetalhes(prova)"
      >
        <h3>{{ prova.nome }}</h3>
        <p><strong>Descrição: </strong> {{ prova.descricao }}</p>
        <p><strong>Data de Criação:</strong> {{ prova.dataCriacao }}</p>
        <p><strong>Nº de Questões</strong> {{ prova.numQuestao }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="provaSelecionada" class="modal" (click)="fechar('modal')">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Detalhes da Prova:</h3>
  
      <div>
        <label><strong>Nome: </strong></label>
        <span *ngIf="!editando">{{ provaSelecionada.nome }}</span>
        <input *ngIf="editando" type="text" [(ngModel)]="provaSelecionada.nome" />
      </div>
  
      <div>
        <label><strong>Descrição: </strong></label>
        <span *ngIf="!editando">{{ provaSelecionada.descricao }}</span>
        <input *ngIf="editando" type="text" [(ngModel)]="provaSelecionada.descricao" />
      </div>
  
      <div>
        <label><strong>Data de Criação: </strong></label>
        <span>{{ provaSelecionada.dataCriacao }}</span>
      </div>
  
      <div>
        <label><strong>Número de Questões: </strong></label>
        <span>{{ provaSelecionada.numQuestao }}</span>
      </div>
      
      <div *ngIf="provaSelecionada.questoes" class="questoes-container">
        <div *ngIf="provaSelecionada.questoes.length > 0">
          <h4>Questões:</h4>
          <div
            *ngFor="let questao of provaSelecionada.questoes"
            class="questao-card"
            (click)="abrirMenuQuestao(questao)"
          >
            <p>{{ questao.enunciado }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="questaoSelecionada" class="modal" (click)="fecharMenuQuestao()">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <h3>Editar Questão e Respostas</h3>
      
          <div>
            <label for="enunciadoQuestao"><strong>Enunciado:</strong></label>
            <textarea
              id="enunciadoQuestao"
              [(ngModel)]="questaoSelecionada.enunciado"
              placeholder="Atualize o enunciado"
              rows="4"
              class="form-control"
            ></textarea>
          </div>
      
          <div>

            <div *ngFor="let resposta of questaoSelecionada.respostas; let i = index" class="resposta-item">
              <label for="resposta-{{ i }}">Alternativa {{ getLetraAlternativa(i)}}:</label>
              <input
                id="resposta-{{ i }}"
                type="text"
                [(ngModel)]="resposta.descricao"
                placeholder="Atualize a resposta"
                class="form-control"
              />
            </div>
          </div>

          <div class="modal-actions">
            <button class="btn-confirmar" (click)="salvarMudancas()">Salvar Alterações</button>
            <button class="btn-excluir" (click)="excluirQuestao()">Excluir Questão</button>
            <button class="btn-cancelar" (click)="fecharMenuQuestao()">Cancelar</button>
          </div>
        </div>
      </div>

      <button class="btn-inserir-questao" (click)="inserirNovaQuestao()">Inserir Nova Questão</button>
  
      <div class="button-container">
        <button class="btn-salvar" (click)="salvarAlteracoes()">Salvar</button>
        <button class="btn-editar" (click)="editando ? desativarEdicao() : ativarEdicao()">
          {{ editando ? 'Cancelar' : 'Editar' }}
        </button>
        <button class="btn-excluir" (click)="confirmarExclusao = true">Excluir</button>
        <button class="btn-fechar" (click)="fechar('modal')">Fechar</button>
      </div>
    </div>
  </div>

  <div *ngIf="modalInserirQuestoesAberto" class="modal" (click)="fechar('modalInserirQuestao')">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Inserir Questão:</h3>
  
      <label for="enunciadoQuestao">Enunciado da Questão:</label>
      <textarea
        id="enunciadoQuestao"
        [(ngModel)]="enunciado"
        placeholder="Insira o enunciado da questão"
        rows="4"
        class="form-control"
      ></textarea>
  
      <label for="alternativaA">Alternativa A:</label>
      <input
        id="alternativaA"
        type="text"
        [(ngModel)]="alternativas[0]"
        placeholder="Insira a alternativa A"
        class="form-control"
      />
  
      <label for="alternativaB">Alternativa B:</label>
      <input
        id="alternativaB"
        type="text"
        [(ngModel)]="alternativas[1]"
        placeholder="Insira a alternativa B"
        class="form-control"
      />
  
      <label for="alternativaC">Alternativa C:</label>
      <input
        id="alternativaC"
        type="text"
        [(ngModel)]="alternativas[2]"
        placeholder="Insira a alternativa C"
        class="form-control"
      />
  
      <label for="alternativaD">Alternativa D:</label>
      <input
        id="alternativaD"
        type="text"
        [(ngModel)]="alternativas[3]"
        placeholder="Insira a alternativa D"
        class="form-control"
      />

      <label for="alternativaD">Alternativa E:</label>
      <input
        id="alternativaE"
        type="text"
        [(ngModel)]="alternativas[4]"
        placeholder="Insira a alternativa E"
        class="form-control"
      />
  
      <div class="modal-actions">
        <button class="btn-confirmar" (click)="salvarQuestao()">Salvar Questão</button>
        <button class="btn-cancelar" (click)="fechar('modalInserirQuestao')">Cancelar</button>
      </div>
    </div>
  </div>
  
	<div *ngIf="confirmarExclusao" class="modal" (click)="confirmarExclusao = false">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Tem certeza que deseja fazer a exclusão?</h3>
      <div class="button-container">
        <button class="btn-confirmar" (click)="efetuarExclusao()">Sim</button>
        <button class="btn-cancelar" (click)="confirmarExclusao = false">Não</button>
      </div>
    </div>
  </div>
</div>
